<div class="row">
    <div class="col">
        <label i18n="npa / lacalita">NPA / Località</label>
    </div>
    <div class="col">
        <label i18n="paese di domicilio">Paese di domicilio</label>
    </div>
</div>


<form [formGroup]="myForm" class="form-lg">
  <div class="row">
    <div class="col form-group"  >
        <input type="text"  class="form-control form-control-lg" placeholder="1000 - Lausanne" formControlName="plz_localita" 
        
        [maxlength]="4"
        [ngbTypeahead]="search"
        [inputFormatter]="inputFormatPlz"
        [resultFormatter]="resultFormatPlz"
        [editable]='false'
        >
      
    </div>
    <div class="col form-group">
        
          <input type="text"  class="form-control form-control-lg" placeholder=""  formControlName="paese_di_domicilio"
          [ngClass]="{
            'is-invalid': myForm.get('paese_di_domicilio').invalid && (myForm.get('paese_di_domicilio').dirty || myForm.get('paese_di_domicilio').touched),
            'is-valid': myForm.get('paese_di_domicilio').valid && (myForm.get('paese_di_domicilio').dirty || myForm.get('paese_di_domicilio').touched) }">
          
    
          <div *ngIf="myForm.get('paese_di_domicilio').dirty && myForm.get('paese_di_domicilio').touched && myForm.get('paese_di_domicilio').invalid">
            <div class="text-danger" *ngIf="myForm.get('paese_di_domicilio').errors.required" i18n="il campo e richiesto">Il campo è richiesto!</div>
          </div>
    
    </div>

    
  
  </div>
</form>


<div class="row nopadding row-avanti-indietro border-top" style="margin-top: 20px">
    <div class="col text-left nopadding">
        <button type="button"   class="btn btn-outline-primary btn-large" (click)="backStep()" i18n="indietro">Indietro</button>
    </div>
    <div class="col nopadding">
       <button type="button"   [disabled]="myForm.invalid"  class="btn btn-large btn-dark float-right" (click)="nextStep()" i18n="avanti">Avanti</button>
    </div>
</div>
