<div class="row title" style="margin-top: 2rem; margin-bottom:0.2rem">
    <div class="col-12 nopadding">
      <h3 style="margin-bottom:0" class="" i18n="riepilogo di offerta gratuita">Riepilogo di offerta gratuita e non vincolante</h3>
    </div>
</div>
<div class="row">
  <div class="col-12">
    <p class="" i18n="offerta presa in carico">La sua offerta verrà presa in carico da Versicherungs Broker Ag</p>
  </div>
</div>



<div class="">
  <div class="row title">
    <div class="col nopadding vertical-algin-bottom ">
        <h4 style="margin:auto; padding-top: 25px; color: #636363" i18n="assicurazione malattia scelta">Assicurazione malattia scelta</h4>
    </div>
    <div class="col nopadding " style="margin-top:auto; margin-bottom:5px">
        <img src="../assets/img/loghi/{{selectedOffert['persone'][0].img}}" class="image float-right"> 
    </div>
  </div>



<div class=" ">
  <div class="row title" style="margin-top: 5rem;">
      <div class="col nopadding">
          <h4 style="margin-bottom: 0; color: #636363; padding-top: 8px" i18n="anteprima dell'offerta">Anteprima dell'offerta</h4>
      </div>
      <div class="col nopadding" style="margin-top: auto; margin-bottom: 5px;">
          <div class="div-price">
              <p class="label-price"><span i18n="premio">Premio</span> <br/>CHF / <span i18n="mese">mese</span></p>
              <span class="price" style="margin-top: auto;">{{selectedOffert.totale | number : '1.2-2' }}</span>
          </div>
      </div>
  </div>
</div>


  <div class="row">
      <div class="col-12 col-md-6">
          <label i18n="inizio dell'assicurazione">Inizio dell'assicurazione</label>
      </div>      
  </div>

  <form [formGroup] = "formOffer" class="form-lg" style="margin-bottom: 50px">
    <div class="row">
      <div class="col-12 col-md-6 form-group">
        <div class="input-group" >
            <input class="form-control form-control-lg" type="text" placeholder="dd.mm.yyyy"
                formControlName="inizio_assicurazione"    ngbDatepicker #d="ngbDatepicker" [minDate]="today" 
                [ngClass]="{
                  'is-invalid': formOffer.controls.inizio_assicurazione.invalid && (formOffer.controls.inizio_assicurazione.dirty || formOffer.controls.inizio_assicurazione.touched),
                  'is-valid': formOffer.controls.inizio_assicurazione.valid && (formOffer.controls.inizio_assicurazione.dirty || formOffer.controls.inizio_assicurazione.touched) }">
            <div class="input-group-append">
              <button class="btn btn-outline" (click)="d.toggle()" type="button"><i class="fa fa-calendar-times"></i></button>
            </div>
          </div>
          <div *ngIf=" formOffer.controls.inizio_assicurazione.dirty &&  formOffer.controls.inizio_assicurazione.touched &&  formOffer.controls.inizio_assicurazione.invalid">
            <div class="text-danger" *ngIf="formOffer.controls.inizio_assicurazione.errors.required" i18n="il campo e richiesto">Il campo è richiesto!</div> 
          </div> 
      </div>
    </div>
  </form>
</div>



<div class="row title" style="margin-top: 5rem;">
  <div class="col nopadding">
      <h4 style="margin-bottom: 0; color: #636363" i18n="prodotti per persona">Prodotti per persona</h4>
  </div>
</div>

<!-- //dati offerta persone-->
<div  *ngFor="let persona of selectedOffert['persone']; index as i" class="row" >
  <div class="col box-dati-personali" style="margin-left: 15px; margin-right: 15px; margin-bottom: 20px; padding:30px; ">
    
    <!-- NOME --- totale persona -->
    <div class="row" style="border-bottom: solid 0px #bfbfbf; margin-top: 20px; color:#636363">
      <div class="col">
        <div class="d-inline-block">
          <div *ngIf="data.persons[i].sesso; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock> <i class="fa fa-male fa-outline" style="padding-right: 0.5rem; font-size: 2.5rem;"></i> </ng-template>
          <ng-template #elseBlock> <i class="fa fa-female fa-outline" style="padding-right: 0.5rem; font-size: 2.5rem;"></i> </ng-template>
        </div>
        <div class="d-inline-block">
          <h4 style="line-height: 1;"><span style="font-size: 0.8rem; display: block; margin-bottom: 5px; margin-left: 2px; color: #3bafbf">{{data.persons[i].nascita}}</span><span style="display: block; color: #3bafbf"><strong>{{data.persons[i].nome}}</strong></span></h4>
        </div>
       
      </div>
      <div class="col" style="margin-top:auto; margin-bottom:5px">
        <div class="div-price" style="margin-top: 5px">
            <p class="label-price"></p>
            <span class="price-persona" style="color: inherit; font-size:1.8rem">{{persona.totale_persona | number : '1.2-2' }}</span>
        </div>
      </div>
    </div>

    <!-- ASSICURAZIONE BASE-->
    <div class="base-benefits">
      <div class="row">
        <div class="col">
          <p class="title-base-benefits" i18n="assicurazione di base">Assicurazione di Base</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">
          <!-- Tariffa assicurazione di Base -->
          <p style="font-size:1.1rem; margin-bottom:0px">{{persona.nome}}</p>
          <p style="color: rgb(133, 133, 133); margin-bottom: 0;">{{persona.it}}</p>
        </div>
        <div class="col-12 col-md-6">
          <p><span i18n="infortunio">Infortunio</span>: {{persona.infortunio}}, <span i18n="franchigia">Franchigia</span>: {{persona.franchigia}}</p>
        </div>
        <div class="col-12 col-md-2 float-right">
              <p class="float-right" style="margin-bottom: 0;">{{persona.premio | number : '1.2-2' }}</p>
        </div>
      </div>
    </div>

    <!-- ASSICURAZIONE SUPPLEMENTARE in caso di premi calcolati-->
    <div class="base-benefits" *ngIf="persona.benefits?.premi.length >  0">
      <div class="row">
        <div class="col">
          <p class="title-base-benefits" i18n="assicurazione supplementare">Assicurazione Supplementare</p>
        </div>
      </div>
      <div class="row" *ngFor="let supp of persona.benefits.premi">
        <div class="col-6">
          <p style="font-size:1.1rem; margin-bottom:0px">{{supp.descrizione_it}}</p>
        </div>
        
        <div class="col-6 float-right">
              <p class="float-right" style="margin-bottom: 0;">{{supp.premio | number : '1.2-2' }}</p>
        </div>
      </div>
    </div>


     <!-- ASSICURAZIONE SUPPLEMENTARE 
          I PREMI NON CI SONO NEL CALCOLATORE      
    -->
    <div class="base-benefits" *ngIf="! checkBenefits(persona)">
      <div class="row">
        <div class="col">
          <p class="title-base-benefits" i18n="assicurazione supplementare">Assicurazione Supplementare</p>
          <p class="" i18n="avviso premi suppelementari non disponibili"><strong>Nota bene:</strong> Le tariffe dei premi supplementai attualmente per questa cassa malattia non sono disponibili.<br> 
            Verrà inviato un preventivo specifico a seguito dell'invio della richiesta.<br>
            Di seguito sono elencate i servizi selezionati precedentemente.</p>
        </div>
      </div>
      <div class="row" *ngFor="let benefit of persona.listbenefits">
        <div class="col-12">
          <p style="font-size:1.1rem; margin-bottom:0px">{{benefit}}</p>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="row nopadding " style="margin-top: 10px; padding-top: 1rem">
  <div class="col text-left nopadding">
      <button type="button"   class="btn btn-outline-primary btn-large" (click)="backStep()" i18n="indietro">Indietro</button>
  </div>
  <div class="col nopadding">
     <button type="button"   [disabled]="formOffer.invalid"  class="btn btn-large btn-dark float-right" (click)="nextStep()" i18n="avanti">Avanti</button>
  </div>
</div>
