<nav class="navbar navbar-dark sticky-top flex-md-nowrap">
    <a class="navbar-brand col-sm-3 col-md-2 p-3" href="https://onezone.ch/"><img alt="versicherungs-broker"  src="../assets/img/onezone-logo.png" ></a>
    
    <!--
    <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex mr-3">
      <li class="nav-item">
        <a *ngIf="!isUserLoggedIn" href="#" class="nav-link p-3" (click)="login($event)">Log In</a>
      </li>
      <li class="nav-item">
        <label *ngIf="isUserLoggedIn" class="nav-link p-3">{{username}}</label>
      </li>
      <li class="nav-item">
        <a *ngIf="isUserLoggedIn" href="#" class="nav-link p-3" (click)="logout($event)">Log out</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!isUserLoggedIn" href="#" class="nav-link p-3" (click)="signup($event)">Sign Up</a>
      </li>
    </ul>
   -->
  </nav>