<div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>
        Sign Up
      </h1>
      <form name="loginForm" #f="ngForm" (ngSubmit)="signUp(f)" >
        <div class="form-group">
            <label for="nome">Username</label>
            <input class="form-control" required minlength="2" type="username" ngModel #username="ngModel" name="username" id="username" 
            [ngClass]="{
              'is-invalid': username.invalid && (username.dirty || username.touched),
              'is-valid': username.valid && (username.dirty || username.touched) }">
            <div *ngIf="username.dirty && username.touched && username.invalid">
              <div class="text-danger" *ngIf="username.errors.required">
                Il campo username è richiesto!
              </div>
              <div class="text-danger" *ngIf="username.errors.minlength">
                Inserire almeno {{username.errors.minlength.requiredLength}} caratteri!
              </div>
            </div>
          </div>
        
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" required email type="email" ngModel #email="ngModel" name="email" id="email" 
          [ngClass]="{
            'is-invalid': email.invalid && (email.dirty || email.touched),
            'is-valid': email.valid && (email.dirty || email.touched) }">
          <div *ngIf="email.dirty && email.touched && email.invalid">
            <div class="text-danger" *ngIf="email.errors.required">
              Il campo Email è richiesto!
            </div>
            <div class="text-danger" *ngIf="email.errors.email">
              Inserire una mail valida!
            </div>
          </div>
        </div>
       
        
        <div class="form-group">
          <label for="password">Password</label>
          <input class="form-control" required minlength="6" ngModel  type="password" #password="ngModel" name="password" id="password"
          [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched),
                      'is-valid': email.valid && (password.dirty || password.touched) }">
          <div *ngIf="password.dirty && password.touched && password.invalid">
            <div class="text-danger" *ngIf="password.errors.required">
              Il campo password è richiesto!
            </div>
            <div class="text-danger" *ngIf="password.errors.minlength">
              Inserire almeno {{password.errors.minlength.requiredLength}} caratteri
            </div>
          </div>
    
        </div>
        
        <div class="form-group">
          <button [disabled]="!f.valid"  class="btn btn-primary">Sign up</button>
  
        </div>
      </form>
    </div>  
  </div>
