

<!-- INTESTAZIONE -->
<header class="dark-background color-light" style="border-bottom: 1px solid #bfbfbf">
  <app-nav></app-nav>
</header>


<div id="page-content">
  <div class="container container-router">
    <div class="row justify-content-center">
        <div class="col-md">
            <router-outlet></router-outlet>
            <app-spinner></app-spinner>
          </div>
    </div>
  </div>
</div>

<footer  id="sticky-footer" class="py-4 dark-background color-light" style="border-top: 1px solid #bfbfbf">
  <div class="container">
    <div class="row">
      <div class="col">
        <p style="margin-bottom: 0; text-align: center; font-size: 0.8rem;">- © Copyright 2010 - 2022 | Versicherungs-Broker.ch | All Rights Reserved | professional risk management AG -</p>
        <p style="margin-bottom: 0;" class="text-center text-center">+41 (0)58 255 06 00 | mail@onezone.ch</p>
      </div>
      
    </div>
  </div>
</footer>






