
<div class="row">
</div> 


<div id="benefits" class="">
    <form [formGroup]="myForm" class="myform" >
      
      <div class="row">
        <div class="col">
          <h3 i18n>Ciao {{person.nome}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p i18n>Ci esponga le sue esigenze e le consiglieremo le assicurazioni adeguate.</p>
        </div>
      </div>
        
      <div class="row basic-insurance title"  style="margin-top: 2rem">
        <div class="col nopadding">
          <h4><span i18n>Assicurazione di base</span> <i class="fas fa-info-circle" style="font-size: 0.7em" popoverTitle="Pop title" ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave" ></i></h4>
        </div>
      </div>
      

      <div class="row basic-insurance" formArrayName="basics">
        <div class="col">
          <div  *ngFor="let basic of basicsForm.controls; let j=index" class="basic-insurance__tile" [formGroupName]="j" (click)="selectBasic(basic, j)" [ngClass]="{'basic-insurance__tile--selected': isSelected(basic)}">
            <div class="basic-insurance__tile--wrapper"  >
              <div class="basic-insurance__tile--content">
                <div >{{basic.value.title}}</div>
              </div>
              <div class="basic-insurance__tile--info">
                <i class="fas fa-info-circle" font-size="medium" ngbPopover="{{basic.value.descrizione_poupop}}" triggers="mouseenter:mouseleave" ></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      
      <div class="row additional-benefits title"  style="margin-top: 2rem">
        <div class="col nopadding">
          <h4 i18n>Assicurazione complementare</h4>
        </div>
      </div>
      <div class="row additional-benefits"  formArrayName="benefits">
        <div class="col">
          <div *ngFor="let benefit of benefitsForm.controls; let z=index" class="additional-benefits__tile" [formGroupName]="z" (click)="selectBenefit(benefit)" [ngClass]="{'additional-benefits__tile--selected': isSelected(benefit)}">
            <div class="additional-benefits__tile--wrapper"  >
              <i [ngClass]="benefit.value.icon"></i>
              <div class="additional-benefits__tile--content"><!---->
                <div>{{benefit.value.title}}</div>
              </div>
              <div class="basic-insurance__tile--info">
                <i class="fas fa-info-circle" font-size="medium" ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave" ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="row nopadding row-avanti-indietro border-top" style="margin-top: 20px">
      <div class="col nopadding">
          <button type="button"   class="btn btn-outline-primary btn-large" (click)="backStep()" i18n>Indietro</button>
      </div>
      <div class="col nopadding">
        <button type="button"  style="margin-right: 0.75rem;"  [disabled]="myForm.invalid"  class="btn btn-large btn-dark float-right" (click)="nextStep()" i18n>Avanti</button>
      </div>
  </div>

  
  

</div>
