
<div class="row">
</div> 


<div id="benefits" class="">
    <form [formGroup]="myForm" class="" >
      
      <div class="row">
        <h3>Ciao {{person.nome}}</h3>
      </div>
      <div class="row">
          <p>Ci esponga le sue esigenze e le consiglieremo le assicurazioni adeguate.</p>
      </div>
        
      <div class="row basic-insurance"  style="margin-top: 2rem">
          <h4>Assicurazione di base <i class="fas fa-info-circle" style="font-size: 0.7em" popoverTitle="Pop title" ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave" ></i></h4>
      </div>
      

      <div class="row basic-insurance" formArrayName="basics">
          <div  *ngFor="let basic of basicsForm.controls; let j=index" class="basic-insurance__tile" [formGroupName]="j" (click)="selectBasic(basic, j)" [ngClass]="{'basic-insurance__tile--selected': isSelected(basic)}">
            <div class="basic-insurance__tile--wrapper"  >
              <div class="basic-insurance__tile--content">
                <div >{{basic.value.title}}</div>
              </div>
              <div class="basic-insurance__tile--info">
                <i class="fas fa-info-circle" font-size="medium" ngbPopover="{{basic.value.descrizione_poupop}}" triggers="mouseenter:mouseleave" ></i>
              </div>
            </div>
          </div>
      </div>

      
      <div class="row additional-benefits"  style="margin-top: 2rem">
        <h4>Assicurazione complementare</h4>
      </div>
      <div class="row additional-benefits"  formArrayName="benefits">
        <div *ngFor="let benefit of benefitsForm.controls; let z=index" class="additional-benefits__tile" [formGroupName]="z" (click)="selectBenefit(benefit)" [ngClass]="{'additional-benefits__tile--selected': isSelected(benefit)}">
          <div class="additional-benefits__tile--wrapper"  >
            <i [ngClass]="benefit.value.icon"></i>
            <div class="additional-benefits__tile--content"><!---->
              <div>{{benefit.value.title}}</div>
            </div>
            <div class="basic-insurance__tile--info">
              <i class="fas fa-info-circle" font-size="medium" ngbPopover="You see, I show up on hover!" triggers="mouseenter:mouseleave" ></i>
            </div>
          </div>
        </div>
      </div>


     
    </form>

    <div class="row" style="margin-top: 20px">
      <div class="col text-left">
          <button type="button"   [disabled]="myForm.invalid"  class="btn btn-primary" (click)="nextStep()">Avanti</button>
          <button type="button"   class="btn btn-link" (click)="backStep()">Indietro</button>
      </div>
  </div>

  
  

</div>
