/* You can add global styles to this file, and also import other style files */
@media (min-width: 1200px) {
    .container {
      width: 970px;
    }
  }



html, body{
    color: #333;
    height: 100%;
    
}
#page-content {
    flex: 1 0 auto;
  }
  
#sticky-footer {
flex-shrink: none;
}
  
app-root {
height: 100vh;
display: flex;
flex-direction: column;
}

.dark-background{
   background-color: #333c4e;
}

.color-light{
    color: #cfcfcf;
}

.card, .btn, .form-control {
    border-radius: 0;
 }

 .btn-group-lg>.btn, .btn-lg {
     border-radius: 0;
 }

 .btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    color: #3bafbf;
    background-color: #fff;
    border-color: #3bafbf;
}
.btn-light {
    color: #495057;
    background-color: #fff;
    border-color: #ced4da;
}

#benefits .basic-insurance {
    margin-bottom: 1rem;
    color: #a3a3a3;
}

#benefits .basic-insurance__header {
    display: inline-block;
    width: 100%;
    margin-bottom: .75rem
}

#benefits .basic-insurance__tiles {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}

#benefits .basic-insurance__tiles::after {
    clear: both;
    content: "";
    display: block
}


#benefits .basic-insurance__tile {
    position: relative;
    width: 13.93rem;
    height: 4rem;
    margin-bottom: .75rem;
    margin-right: .75rem;
    float: left;
    background: #fff;
    cursor: pointer;
    border: .1rem solid;
}

@media screen and (max-width:60rem) {
    #benefits .basic-insurance__tile {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (min-width: 60rem){
   
    #benefits .basic-insurance__tile:hover {
        background: #8f8f8f4a;
    }
    #benefits .basic-insurance__tile--selected:hover{
        background: #797979;
    }
}

#benefits .basic-insurance__tile--selected {
    background: #797979;
    color: #fff;
    font-weight: 700;
    border: .1rem solid #797979;
}

#benefits .basic-insurance__tile--wrapper {
    line-height: 3.80rem;
    vertical-align: middle;
}

#benefits .basic-insurance__tile--content {
    font-family: akkurat-light,Helvetica Neue,sans-serif;
    font-size: .875rem;
    line-height: 1.5em;
    display: inline-block;
    padding-left: 1.25rem;
    vertical-align: middle;
}


#benefits .basic-insurance__tile--info {
    margin-top: .5rem;
    padding-right: 1.2rem;
    float: right;
    line-height: 3rem;
}

#benefits .basic-insurance__tile--info .popover-icon {
    margin: 0
}

#benefits .basic-insurance__tile .icon-benefits {
    display: inline-block;
}

.icon-benefits{
    vertical-align: middle;
}
.icon-benefits::before{
    font-size: 2rem;
    vertical-align: middle;
}

#benefits .basic-insurance__tile--content {
    width: 80%;
}





#benefits .additional-benefits {
    margin-bottom: 1rem;
    color: #1289ba;
}

#benefits .additional-benefits__header {
    display: inline-block;
    width: 100%;
    margin-bottom: .75rem
}

#benefits .additional-benefits__tiles {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto
}

#benefits .additional-benefits__tiles::after {
    clear: both;
    content: "";
    display: block
}


#benefits .additional-benefits__tile {
    position: relative;
    width: 13.93rem;
    height: 4rem;
    margin-bottom: .75rem;
    margin-right: .75rem;
    float: left;
    background: #fff;
    cursor: pointer;
    border: .1rem solid;
}

@media screen and (max-width:60rem) {
    #benefits .additional-benefits__tile {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (min-width: 60rem){
   
    #benefits .additional-benefits__tile:hover {
        background: #92b3c14a;
    }
    #benefits .additional-benefits__tile--selected:hover{
        background: #1888ad;
    }
}

#benefits .additional-benefits__tile--selected {
    background: #1888ad;
    color: #fff;
    font-weight: 700;
    border: .1rem solid #1888ad;
}

#benefits .additional-benefits__tile--wrapper {
    line-height: 3.80rem;
    vertical-align: middle;
}

#benefits .additional-benefits__tile--content {
    font-family: akkurat-light,Helvetica Neue,sans-serif;
    font-size: .875rem;
    line-height: 1.5em;
    display: inline-block;
    padding-left: 1.25rem;
    vertical-align: middle;
}


#benefits .additional-benefits__tile--info {
    margin-top: .5rem;
    padding-right: 1.875rem;
    float: right;
    line-height: 3rem;
}

#benefits .additional-benefits__tile--info .popover-icon {
    margin: 0
}

#benefits .additional-benefits__tile .icon-benefits {
    display: inline-block;
}

.icon-benefits{
    vertical-align: middle;
}
.icon-benefits::before{
    font-size: 2rem;
    vertical-align: middle;
}

#benefits .additional-benefits__tile--content {
    width: 56%;
}


.nopadding{
    padding: 0px;
    margin: 0px;
}





.btn-large{
    min-width: 10rem;
}

.link{
    color: #3bafbf;
}



.btn-dark{
    background-color: #3bafbf;
    border: 2px solid #3bafbf;
    color: #fff; 
    
}

.btn-dark:hover{
    background-color: #fff;
    border: 2px solid #3bafbf;
    color: #3bafbf;
}

.btn-dark.disabled, .btn-dark:disabled {
    background-color: #3bafbf;
    border: 2px solid #3bafbf;
    color: #fff;
}


.btn-link {
    font-weight: 400;
    color: #3bafbf;
    text-decoration: none;
}

.btn-link:hover {
    color: #333c4e;
    text-decoration: underline;
}

.btn-outline-primary {
    color: #3bafbf;
    border: 2px solid #3bafbf;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #3bafbf;
    border: 2px solid #3bafbf;
}

  .title{
      margin-top:1rem;
      margin-bottom: 20px;
      margin-left: 0;
      margin-right: 0;
      border-bottom: 1px solid #dee2e6;
      
  }


  .background-grey{
    background-color: #f7f7f7;
  }

  .container-router{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

 

  .myform{
}


.row-avanti-indietro{
    padding-top: 1rem;
}


.box-dati-personali{
    border: 1px solid #dee2e6;
}



