.resultset{
    border: .1rem solid #dee2e6;
    margin-bottom: 35px;    
    padding: 35px 20px 5px 20px;
    background: #fff;
}


.row-dettaglio{
    margin-top: 18px;
    border-top: 1px solid #dee2e6;
    padding-top: 10px;
    padding-bottom: 10px;
}

.image{
    height: auto;
    width: auto;
    max-width: 120px;
    max-height: 60px;
}