<div class="row">
  <div class="col-md-6">
      <label>Nome</label>
  </div>
  <div class="col-md-3">
      <label>Data di nascita</label>
  </div>
  <div class="col-md-2">
      <label>Sesso</label>
  </div>
  <div class="col-md-1">
      <label></label>
  </div>
</div>

<form *ngFor="let person of family index as i" class="form-lg" >
    <div class="row">
      <div class="col-6">
          <input type="text"  class="form-control form-control-lg" id="nome" placeholder="Persona {{i}}">
      </div>
      <div class="col-3">
          <input type="text" class="form-control form-control-lg" id="nascita" placeholder="GG.MM.AA">
      </div>
      <div class="col-2">
        <div class="btn-group btn-group-toggle btn-group-lg" ngbRadioGroup name="sesso" >
            <label ngbButtonLabel class="btn-light">
              <input ngbButton type="radio" [value]="true"><fa name="male"></fa>
            </label>
           
            <label ngbButtonLabel class="btn-light">
              <input ngbButton type="radio" [value]="false"><fa name="female"></fa>
            </label>
          </div>
          <button type="button" class="btn btn-lg btn-link sm-1" style="margin-left: 10px" (click)="removePerson($event, i)"><fa name="times" ></fa></button>
      </div>
      
    </div>

</form>


<div class="row">
  <div class="col" style="padding-top:20px">
    <button type="button" class="btn btn-light" (click)="addPerson($event)"><fa name="plus"></fa> </button>
    <label>Aggiugi persona</label>
  </div>
</div>

<div class="row" style="margin-top: 20px">
    <div class="col text-left">
       
            <button type="button" class="btn btn-primary" (click)="nextStep($event)">Avanti</button>
     
      
    </div>
</div>

<div class="row">
  <div class="col">
    <p>
      {{ family | json }}</p>
  </div>
</div>