<div class="row">
  <div class="col-md-6">
      <label>Nome</label>
  </div>
  <div class="col-md-3">
      <label>Data di nascita</label>
  </div>
  <div class="col-md-2">
      <label>Sesso</label>
  </div>
  <div class="col-md-1">
      <label></label>
  </div>
</div>


<form [formGroup]="myForm" class="form-lg" >
    

    <div formArrayName="persons">
    
      <div *ngFor="let person of  personForms.controls; let i=index" class="row" [formGroupName]="i" style="margin-bottom: 30px">
        <div class="col-6">
            <input type="text"  class="form-control form-control-lg" placeholder="Persona {{i+1}}"  formControlName="nome" >
        </div>
        <div class="col-3">
            <input type="text" class="form-control form-control-lg"  placeholder="GG.MM.AA"  formControlName="nascita">
        </div>
        <div class="col-2">
          <div class="btn-group btn-group-toggle btn-group-lg" ngbRadioGroup name="sesso"  formControlName="sesso"  >
              <label ngbButtonLabel class="btn-light">
                <input ngbButton type="radio" [value]="true"><fa name="male"></fa>
              </label>
            
              <label ngbButtonLabel class="btn-light">
                <input ngbButton type="radio" [value]="false"><fa name="female"></fa>
              </label>
            </div>
            <button type="button" class="btn btn-lg btn-link sm-1" style="margin-left: 10px" (click)="deletePerson(i)"><fa name="times" ></fa></button>
        </div>
      </div>
    </div>
  </form>


<div class="row">
  <div class="col" >
    <button type="button" class="btn btn-light" (click)="addPerson()"><fa name="plus"></fa> </button>
    <label>Aggiugi persona</label>
  </div>
</div>

<div class="row" style="margin-top: 20px">
    <div class="col text-left">
       
            <button type="button" class="btn btn-primary" (click)="nextStep($event)">Avanti</button>
     
      
    </div>
</div>

<div class="row">
  <div class="col">
    <p>
      {{myForm.value | json }}
  </div>
</div>