<div class="row">
  <div class="col-md-3">
      <label>Nome</label>
  </div>
  <div class="col-md-3">
      <label>Data di nascita</label>
  </div>
  <div class="col-md-3">
    <label>Franchigia</label>
  </div>
  <div class="col-md-3">
      <label>Sesso</label>
  </div>
</div>


<form [formGroup]="myForm" class="form-lg" >
    

    <div formArrayName="persons">
    
      <div *ngFor="let person of  personForms.controls; let i=index" class="row" [formGroupName]="i" style="margin-bottom: 30px">
        <div class="col-3 form-group">
            <input type="text"  class="form-control form-control-lg" placeholder="Persona {{i+1}}"  formControlName="nome"
            [ngClass]="{
              'is-invalid': person.controls.nome.invalid && (person.controls.nome.dirty || person.controls.nome.touched),
              'is-valid': person.controls.nome.valid && (person.controls.nome.dirty || person.controls.nome.touched) }">
           
      
            <div *ngIf="person.controls.nome.dirty && person.controls.nome.touched && person.controls.nome.invalid">
              <div class="text-danger" *ngIf="person.controls.nome.errors.required">
                Il campo nome è richiesto!
              </div>
              <div class="text-danger" *ngIf="person.controls.nome.errors.minlength">
                Inserire almeno {{person.controls.nome.errors.minlength.requiredLength}} caratteri
              </div>
              <div class="text-danger" *ngIf="person.controls.nome.errors.pattern">
                Inserire caratteri dall a-z
              </div>
            </div>

        </div>
        
        <div class="col-3">
            <input type="text" class="form-control form-control-lg"  placeholder="GG.MM.AA"  formControlName="nascita" (change)="refreshFranchigia($event, i)"
            [ngClass]="{
              'is-invalid': person.controls.nascita.invalid && (person.controls.nascita.dirty || person.controls.nascita.touched),
              'is-valid': person.controls.nascita.valid && (person.controls.nascita.dirty || person.controls.nascita.touched) }">
              
              <div *ngIf="person.controls.nascita.dirty && person.controls.nascita.touched && person.controls.nascita.invalid">
                <div class="text-danger" *ngIf="person.controls.nascita.errors.required">
                  Il campo nascita è richiesto!
                </div>
                <div class="text-danger" *ngIf="person.controls.nascita.errors.pattern">
                  Inserire data formato GG.MM.AAAA
                </div>
              </div>
        </div>
        <div class="col-3 form-group">
           <select class="form-control form-control-lg" formArrayName="franchigie" (change)="changeFranchigia($event, i)" required 
           [ngClass]="{
            'is-invalid': person.controls.franchigie.controls.invalid && (person.controls.franchigie.controls.dirty || person.controls.franchigie.controls.touched),
            'is-valid': person.controls.franchigie.controls.valid && (person.controls.franchigie.controls.dirty || person.controls.franchigie.controls.touched) }">

            <option  [value]="" disabled>Seleziona</option>
            <option  *ngFor="let franchigia of person.controls['franchigie'].controls; let j = index" [formGroupName]="j"  [value]="franchigia.value.id" [selected]="franchigia.value.selected == 'true'">{{franchigia.value.value}}</option>
          </select>
        </div>
        
        <div class="col-3">
          <div class="btn-group btn-group-toggle btn-group-lg" ngbRadioGroup name="sesso"  formControlName="sesso" 
          [ngClass]="{
            'is-invalid': person.controls.sesso.invalid && (person.controls.sesso.dirty || person.controls.sesso.touched),
            'is-valid': person.controls.sesso.valid && (person.controls.sesso.dirty || person.controls.sesso.touched) }">
              <label ngbButtonLabel class="btn-light">
                <input ngbButton type="radio" [value]="true"><fa name="male"></fa>
              </label>
            
              <label ngbButtonLabel class="btn-light">
                <input ngbButton type="radio" [value]="false"><fa name="female"></fa>
              </label>
            </div>
            <button type="button" class="btn btn-lg btn-link sm-1" style="margin-left: 10px" (click)="deletePerson(i)"
            *ngIf="personForms.controls?.length > 1" ><fa name="times" ></fa></button>
        </div>
      </div>
    </div>
  </form>


<div class="row">
  <div class="col" >
    <button type="button" class="btn btn-link" (click)="addPerson()" style="padding: 0" ><span style="margin-right: 15px" class="btn btn-outline-primary"><fa name="plus"></fa></span>Aggiugi persona</button>
  </div>
</div>

<div class="row" style="margin-top: 20px">
    <div class="col text-left">
       
            <button type="button"   [disabled]="myForm.invalid"  class="btn btn-primary" (click)="nextStep()">Avanti</button>
     
    </div>
</div>

<div class="row">
  <div class="col">
    <p>
      {{myForm.value | json }}
  </div>
</div>

